################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/B3.Worker/.vs
/B3.Worker/src/*/bin
/B3.Worker/src/*/obj

/B3.Worker/tests/unit/*/bin
/B3.Worker/tests/unit/*/obj
/B3.Api/src/B3.Api/.vs
/B3.Api/src/B3.Api/B3.Api/bin/Debug/net7.0
/B3.Api/src/B3.Api/B3.Api/obj
