################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/B3.Worker/.vs
/B3.Worker/src/*/bin
/B3.Worker/src/*/obj

